.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
  width: 100%;
}

.container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.11);
}

.container form input {
  width: 15rem;
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 0.31rem;
  border: 1px solid rgba(0, 0, 0, 0.11);
  box-shadow: rgba(0, 0, 0, 0.11);
}

.container form input::placeholder {
  color: black;
}

.container form button {
  background-color: #001219;
  color: #e9d8a6;
  padding: 0.31rem;
  border-radius: 5%;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.11);
}
