@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Comfortaa:wght@300;400;700&family=Francois+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
}

input {
  font-family: "Comfortaa", cursive;
}

ul {
  list-style: none;
}

textarea {
  font-family: "Bad Script";
}

::placeholder {
  color: white;
}
